CSS PAGE(style.css)

body{
background-color:#66FFFF
}
table, td ,th{border:3px solid black;
text-align:center;
border-collapse:collapse;
}
h1{
text-align:center;
color:red;
}
th{
background:#333333;
color:white
}
td{
background:yellow
}
.gender{
background:green
}
a{
color:purple;
font-style:italic;
}
.pic1{
float:right
}
.events{align=right
  
}
.gold{
background:gold
}
.silver{
background:silver
}
.bronze{
background:brown
}
